@page "/game"

@using System.Drawing;
@using TwentyOne.Services;
@using TwentyOne.Models;
@using TwentyOne.Pages.Partials;
@inject IJSRuntime jsRuntime

<PageTitle>Twenty One</PageTitle>

<audio id="CardShuffle"><source src="/sounds/CardShuffle1.mp3" /></audio>
<audio id="CardFlip"><source src="/sounds/CardFlip1.mp3" /></audio>

<h1>Twenty One</h1>

<div>
    <button @onclick="Deal">
        Deal
    </button>
</div>

<div>
    @foreach (var card in dealerHand.Cards)
    {
        <CardPartialView Card="card" />
    }
</div>
<div>
    @foreach (var card in playerHand.Cards)
    {
        <CardPartialView Card="card" />
    }
</div>

@code {
    private byte[] CardImage = null!;

    private Hand dealerHand = new Hand();
    private Hand playerHand = new Hand();

    protected override async Task OnInitializedAsync()
    {
        //await GetImage(SuitNumber, CardNumber);
    }

    private async Task Deal()
    {
        await jsRuntime.InvokeAsync<string>("PlayAudio", "CardFlip");
        dealerHand = new Hand(2);
        playerHand = new Hand(2);
    }

}