@page "/game"

@using System.Drawing;
@using TwentyOne.Services;
@using TwentyOne.Models;
@using TwentyOne.Pages.Partials;
@inject IJSRuntime jsRuntime
@inject CardDeck cardDeck

<PageTitle>Twenty One</PageTitle>

<audio id="CardShuffle"><source src="/sounds/CardShuffle1.mp3" /></audio>
<audio id="CardFlip"><source src="/sounds/CardFlip1.mp3" /></audio>

<h1>Twenty One</h1>
<div>
</div>
<div class="cardcontainer">
    <div class="one">
        <img class="blackjack-drawdeck" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(deckImage))" />
        <img class="blackjack-drawdeck" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(deckImage))" />
        <img class="blackjack-drawdeck" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(deckImage))" />
        <img class="blackjack-drawdeck" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(deckImage))" />
    </div>

    @if (dealerHand != null)
    {
        @foreach (var card in dealerHand.Cards)
        {
            <CardPartialView Card="card" />
        }
    }
    else
    {
        <div class="one"></div>
    }
</div>

<div id="DealerPlayerSeparator">
    <div><hr class="hrseparator" /></div>
    <div class="dealerseparatorparent">
        <div class="dealerseparatorchild">Dealer must stand on 17 and draw to 16</div>
    </div>
    <div><hr class="hrseparator" /></div>
</div>

<div class="cardcontainer">
    @if (dealerHand != null)
    {
        @foreach (var card in playerHand.Cards)
        {
            <CardPartialView Card="card" />
        }
    }
</div>

<div style="align-content:center;justify-content:center;display:flex;">
    <br />
    <br />
    <MudButton id="newGameButton" Variant="Variant.Filled" Style="background-color:gold" hidden=@HideButtons Disabled=@IsLoading @onclick="Deal">New Game</MudButton>
    &nbsp;
    <MudButton id="hitMeButton" Variant="Variant.Filled" Style="background-color:gold" hidden=@HideButtons Disabled=@IsLoading @onclick="HitMe">Hit Me!</MudButton>
</div>

@code {
    private bool IsLoading = false;
    private bool HideButtons = false;
    private byte[] CardImage = null!;

    private Hand dealerHand;
    private Hand playerHand;

    private byte[] deckImage;

    protected override async Task OnInitializedAsync()
    {
        //await GetImage(SuitNumber, CardNumber);
        dealerHand = new Hand(cardDeck);
        playerHand = new Hand(cardDeck);

        Card backCard = new Card(1, Card.CardBackNumber);
        deckImage = backCard.GetImageData;

        HideButtons = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        //TODO:  this doesn't work.  is there a "before render"?
        if (firstRender)
        {
            await Deal();
        }
    }

    private async Task Deal()
    {
        IsLoading = true;
        HideButtons = true;

        cardDeck.NewDeal();

        dealerHand = new Hand(cardDeck);
        playerHand = new Hand(cardDeck);

        await jsRuntime.InvokeAsync<string>("PlaySound", "/sounds/CardShuffle1.mp3");

        dealerHand = new Hand(cardDeck, 2);

        //await jsRuntime.InvokeAsync<string>("PlaySound", "/sounds/CardFlip1.mp3");
        playerHand = new Hand(cardDeck, 2);

        IsLoading = false;
        HideButtons = false;
    }

    private async Task HitMe()
    {
        IsLoading = true;
        await jsRuntime.InvokeAsync<string>("PlaySound", "/sounds/CardFlip1.mp3");
        playerHand.GenerateNewCardInDeck();
        IsLoading = false;
    }

}