@page "/game"

@using System.Drawing;
@using TwentyOne.Services;
@using TwentyOne.Models;
@using TwentyOne.Pages.Partials;

<PageTitle>Twenty One</PageTitle>

<h1>Twenty One</h1>

<div>
    <button @onclick="Deal">
        Deal
    </button>
</div>

<div>
    <audio autoplay controls><source src="/Sounds/CardShuffle1.mp3" /></audio>

    @foreach (var card in dealerHand.Cards)
    {
        <CardPartialView Card="card" />
    }
    @foreach (var card in playerHand.Cards)
    {
        <CardPartialView Card="card" />
    }
</div>

@code {
    private byte[] CardImage = null!;

    private Hand dealerHand = new Hand();
    private Hand playerHand = new Hand();

    protected override async Task OnInitializedAsync()
    {
        //await GetImage(SuitNumber, CardNumber);
    }

    //TODO:  move these to service
    private async Task Deal()
    {

        dealerHand = new Hand(2);
        playerHand = new Hand(2);

    }

}