<h3>Component</h3>

<PageTitle>Twenty One</PageTitle>

<h1>Twenty One</h1>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private Bitmap GetImage()
    {
        //C:\Users\snook\source\repos\TwentyOne\TwentyOne\Images\card-set-1.jpg

        // Create a Bitmap object from a file.
        Bitmap myBitmap = new Bitmap(".\Images\card-set-1.jpg");

        // Clone a portion of the Bitmap object.
        Rectangle cloneRect = new Rectangle(0, 0, 100, 100);
        Bitmap cloneBitmap = myBitmap.Clone(cloneRect, myBitmap.PixelFormat);

        // Draw the cloned portion of the Bitmap object.
        e.Graphics.DrawImage(cloneBitmap, 0, 0);

    }

}
