@using TwentyOne.Models;

@code
{
    [Parameter]
    public Card Card { get; set; }
}

@if (Card.IsVisible)
{
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div>
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Card.GetImageData))" />
            </div>
        </div>
        <div class="flip-card-back">
            <div>
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Card.GetImageDataForBackOfCard))" />
            </div>
        </div>
    </div>
}
else
{
    <div class="flip-card-back">
        <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Card.GetImageDataForBackOfCard))" />
    </div>
}
